schemas/kml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- unofficial XML Schema published in 2005 to document KML 2.0 structure
     This is incomplete in that it was built from instance documents and a number
     of elements (e.g. color, heading, href, scale, rotation, etc.) use enumerated
     types for specific values as opposed to restricted types based on the spec.
     -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Aaron Roller (MotionBased Technologies) -->
<!-- W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!-- http://bbs.keyhole.com/ubb/showthreaded.php/Cat/0/Number/35107/page/0/vc/1 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://earth.google.com/kml/2.0"
     targetNamespace="http://earth.google.com/kml/2.0" elementFormDefault="qualified">
	<xs:element name="kml">
		<xs:complexType>   
	         <xs:sequence>
	          <xs:choice>
			<xs:element ref="Document"/>
			<xs:element ref="Placemark"/>
			<xs:element ref="GroundOverlay"/>
			<xs:element ref="ScreenOverlay"/>
	          </xs:choice>
	         </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="Style" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="View" minOccurs="0"/>
				<xs:element ref="Folder" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Document" minOccurs="0"/>
				<xs:element ref="visibility" minOccurs="0"/>
				<xs:element ref="Placemark" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Folder">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="name"/>
				<xs:element ref="open"/>
				<xs:element ref="NetworkLink"/>
				<xs:element ref="Document"/>
				<xs:element ref="Placemark"/>
				<xs:element ref="Folder"/>
				<xs:element ref="View"/>
				<xs:element ref="description"/>
				<xs:element ref="visibility"/>
				<xs:element ref="GroundOverlay"/>
				<xs:element ref="ScreenOverlay"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GroundOverlay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="name"/>
				<xs:element ref="visibility" minOccurs="0"/>
				<xs:element ref="Icon"/>
				<xs:element ref="LatLonBox"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Icon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="href"/>
				<xs:element ref="x" minOccurs="0"/>
				<xs:element ref="y" minOccurs="0"/>
				<xs:element ref="w" minOccurs="0"/>
				<xs:element ref="h" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IconStyle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="color" minOccurs="0"/>
				<xs:element ref="Icon" minOccurs="0"/>
				<xs:element ref="scale" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khIconStyle1406"/>
						<xs:enumeration value="khIconStyle1455"/>
						<xs:enumeration value="khIconStyle1487"/>
						<xs:enumeration value="khIconStyle1555"/>
						<xs:enumeration value="khIconStyle574"/>
						<xs:enumeration value="khIconStyle826"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LatLonBox">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="north"/>
				<xs:element ref="south"/>
				<xs:element ref="east"/>
				<xs:element ref="west"/>
				<xs:element ref="rotation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineString">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khLineString1458"/>
						<xs:enumeration value="khLineString1490"/>
						<xs:enumeration value="khLineString1558"/>
						<xs:enumeration value="khLineString577"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineStyle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="color" minOccurs="0"/>
				<xs:element ref="width" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khLineStyle1405"/>
						<xs:enumeration value="khLineStyle1454"/>
						<xs:enumeration value="khLineStyle1554"/>
						<xs:enumeration value="khLineStyle573"/>
						<xs:enumeration value="khLineStyle825"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinearRing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MultiGeometry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Polygon"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NetworkLink">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="open" minOccurs="0"/>
				<xs:element ref="refreshVisibility" minOccurs="0"/>
				<xs:element ref="visibility" minOccurs="0"/>
				<xs:element ref="Url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Placemark">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="visibility" minOccurs="0"/>
			        <xs:element name="Snippet" type="xs:string" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="View" minOccurs="0"/>
				<xs:element ref="Style" minOccurs="0"/>
				<xs:element ref="LineString" minOccurs="0"/>
				<xs:element ref="MultiGeometry" minOccurs="0"/>
				<xs:element ref="drawOrder" minOccurs="0"/>
				<xs:element ref="styleUrl" minOccurs="0"/>
				<xs:element ref="Point" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Point">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coordinates"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PolyStyle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="color"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khPolyStyle1404"/>
						<xs:enumeration value="khPolyStyle1453"/>
						<xs:enumeration value="khPolyStyle1553"/>
						<xs:enumeration value="khPolyStyle572"/>
						<xs:enumeration value="khPolyStyle824"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Polygon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="outerBoundaryIs"/>
				<xs:element ref="innerBoundaryIs" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScreenOverlay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="name"/>
				<xs:element ref="visibility"/>
				<xs:element ref="Icon"/>
				<xs:element ref="overlayXY"/>
				<xs:element ref="screenXY"/>
				<xs:element ref="rotationXY"/>
				<xs:element ref="size"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Style">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineStyle" minOccurs="0"/>
				<xs:element ref="PolyStyle" minOccurs="0"/>
				<xs:element ref="IconStyle"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khStyle1402"/>
						<xs:enumeration value="khStyle1451"/>
						<xs:enumeration value="khStyle1483"/>
						<xs:enumeration value="khStyle1551"/>
						<xs:enumeration value="khStyle570"/>
						<xs:enumeration value="khStyle822"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Url">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="href"/>
				<xs:element ref="refreshMode"/>
				<xs:element ref="refreshInverval"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="View">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="longitude"/>
				<xs:element ref="latitude"/>
				<xs:element ref="range"/>
				<xs:element ref="tilt"/>
				<xs:element ref="heading"/>
			</xs:sequence>
			<xs:attribute name="id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="khView1450"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="color">
		<xs:simpleType>
			<xs:restriction base="xs:hexBinary">
				<xs:enumeration value="ff000000"/>
				<xs:enumeration value="ff0000bb"/>
				<xs:enumeration value="ff0000ff"/>
				<xs:enumeration value="ff00a5ff"/>
				<xs:enumeration value="ff00ff00"/>
				<xs:enumeration value="ff00ffff"/>
				<xs:enumeration value="ff2f2fc3"/>
				<xs:enumeration value="ff5cbaf0"/>
				<xs:enumeration value="ff7f00ff"/>
				<xs:enumeration value="ff80ffff"/>
				<xs:enumeration value="fff020a0"/>
				<xs:enumeration value="ffff0000"/>
				<xs:enumeration value="ffff5500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="coordinates" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="drawOrder">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="east">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="-74.9277"/>
				<xs:enumeration value="-98.54217821888472"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="h">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="heading">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="-164.5530349313509"/>
				<xs:enumeration value="-172.5314245234883"/>
				<xs:enumeration value="-82.63790979329693"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="0.0005103004511052435"/>
				<xs:enumeration value="0.002334043377594948"/>
				<xs:enumeration value="165.4941720095822"/>
				<xs:enumeration value="31.86067275357931"/>
				<xs:enumeration value="360"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="href">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://bbs.keyhole.com/ubb/z0302a1700/f16-block40-42.png"/>
				<xs:enumeration value="http://bbs.keyhole.com/ubb/z0302a1700/periboob.png"/>
				<xs:enumeration value="http://earthquake.usgs.gov/recenteqsww/catalogs/eqs7day-M2.5_src.kml"/>
				<xs:enumeration value="http://www.assateagueisland.com/map/assateague_map.jpg"/>
				<xs:enumeration value="http://www.mcshea98.com/Keyhole/Run.kml"/>
				<xs:enumeration value="http://www.mcshea98.com/images/Photo8/Katie_148.jpg"/>
				<xs:enumeration value="root://icons/palette-2.png"/>
				<xs:enumeration value="root://icons/palette-3.png"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="innerBoundaryIs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LinearRing" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
        <xs:element name="latitude"  type="angle90" />
        <xs:element name="longitude" type="angle180" />
	<xs:element name="name" type="xs:string" />
	<xs:element name="north">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="34.10763462199566"/>
				<xs:enumeration value="38.2322"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="open">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="outerBoundaryIs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LinearRing"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="overlayXY">
		<xs:complexType>
			<xs:attribute name="x" type="xs:double" default="1.0"/>
			<xs:attribute name="y" type="xs:double" default="1.0"/>
			<xs:attribute name="xunits" type="unitsEnum" use="optional"
                                                  default="fraction"/>
			<xs:attribute name="yunits" type="unitsEnum" use="optional"
                                                  default="fraction"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="unitsEnum">
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="fraction"/>
	      <xs:enumeration value="pixels"/>
	      <xs:enumeration value="insetPixels"/>
	    </xs:restriction>
	</xs:simpleType>
	<xs:element name="range">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="16840.78049073119"/>
				<xs:enumeration value="1985496.838398816"/>
				<xs:enumeration value="31450.61707398226"/>
				<xs:enumeration value="3178.014382454674"/>
				<xs:enumeration value="5000"/>
				<xs:enumeration value="5501.111427553623"/>
				<xs:enumeration value="5995.55431801437"/>
				<xs:enumeration value="7514.292637495035"/>
				<xs:enumeration value="7800.876993153658"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="refreshInverval">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="300"/>
				<xs:enumeration value="86408"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="refreshMode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="onInterval"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="refreshVisibility">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rotation">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="-109.027"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rotationXY">
		<xs:complexType>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0.5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0.5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="fraction"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="yunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="fraction"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="scale">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="screenXY">
		<xs:complexType>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pixels"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="yunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pixels"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="size">
		<xs:complexType>
			<xs:attribute name="x" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="y" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pixels"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="yunits" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pixels"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="south">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="34.08070675826132"/>
				<xs:enumeration value="38.0108"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="styleUrl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="#khStyle1402"/>
				<xs:enumeration value="#khStyle822"/>
				<xs:enumeration value="root://styleMaps#default+nicon=0x304+hicon=0x314"/>
				<xs:enumeration value="root://styleMaps#default+nicon=0x307+hicon=0x317"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tilt">
		<xs:simpleType>
			<xs:restriction base="xs:double">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1.086092274754416e-013"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="45.88490599406028"/>
				<xs:enumeration value="64.84976567418431"/>
				<xs:enumeration value="67.52303934164502"/>
				<xs:enumeration value="73.30674717418226"/>
				<xs:enumeration value="74.55495653198491"/>
				<xs:enumeration value="74.56394733691457"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="visibility">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="w">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="west">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="-75.651"/>
				<xs:enumeration value="-98.56691131706076"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="width">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="x">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="224"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="y">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

  <xs:simpleType name="angle90">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="-90"/>
      <xs:maxInclusive value="90.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="angle180">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="-180"/>
      <xs:maxInclusive value="180"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
